---
// component imports
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// utils imports
import {slugify, formatBlogPosts} from '../../js/utils'

export async function getStaticPaths() {
    return [
        {
            params: {category: slugify("Augmented Reality")},
            props: {name: "Augmented Reality"},
        },
        {
            params: {category: slugify("Game Development")},
            props: {name: "Game Development"},
        },
        {
            params: {category: slugify("Custom-Built")},
            props: {name: "Custom-Built"},
        },
        {
            params: {category: slugify("Artificial Intelligence")},
            props: {name: "Artificial Intelligence"},
        },
        {
            params: {category: slugify("Internet")},
            props: {name: "Internet"},
        },
        {
            params: {category: slugify("Audio")},
            props: {name: "Audio"},
        },
    ]
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter((post) => slugify(post.frontmatter.category) === category);


---

<MainLayout title={name} description="Welcome to Thunder Tech Blog">
    <section class="container" aria-label={`Post About ${name}`}>
      <h1 class="h1">Post About <span>{name}</span></h1>
        <div class="post-container">
            {
              catPosts.map((post) => (
                <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
              ))
            }
        </div>
    </section>
  </MainLayout>